.navbar {
  height: 50px !important;
  transition: ease all 1s;
  -webkit-transition: ease all 1s;
  -moz-transition: ease all 1s;
  -o-transition: ease all 1s;
}

.navbar-mini {
  height: 45px !important;
  border-top: 0.1px solid #4a6075 !important;
}
.navbar-mini .nav-link {
  padding-left: 0px !important;
  margin-right: 20px;
}

.navbar-scroll {
  height: 0 !important;
  transition: ease all 1s;
  -webkit-transition: ease all 1s;
  -moz-transition: ease all 1s;
  -o-transition: ease all 1s;
}
.navbar-scroll .navbar-brand,
.navbar-scroll .navbar-nav {
  display: none;
}

.breadcrumb {
  background-color: transparent !important;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
  transition: 0.5s;
}

div {
  margin-bottom: 5px;
}

section {
  margin-bottom: 70px;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #6f8aa1;
}

.content {
  margin-top: 120px;
}

.ti {
  font-weight: 700;
}

.disabled {
  cursor: not-allowed !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
  transition: 0.5s;
}

div {
  margin-bottom: 5px;
}

section {
  margin-bottom: 70px;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #6f8aa1;
}

.content {
  margin-top: 120px;
}

.ti {
  font-weight: 700;
}

.disabled {
  cursor: not-allowed !important;
}

.card-without-shadow {
  max-height: none;
  min-height: 80px;
  max-width: none;
  min-width: 0px;
  border-radius: 5px;
  text-transform: none;
  vertical-align: baseline;
  white-space: normal;
  text-decoration: none solid white;
  text-align: left;
  text-indent: 0px;
  position: relative;
  overflow: hidden;
}

.card:not([class*=card-without-shadow]) {
  cursor: pointer;
  text-transform: none;
  vertical-align: baseline;
  white-space: normal;
  text-decoration: none solid white;
  text-align: left;
  text-indent: 0px;
  padding: 8px;
  max-height: none;
  min-height: 80px;
  max-width: none;
  min-width: 0px;
  border-radius: 5px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
.card:not([class*=card-without-shadow]):hover {
  box-shadow: 0 5px 20px #818181;
  -webkit-box-shadow: 0 5px 20px #818181;
  -moz-box-shadow: 0 5px 20px #818181;
  transition: 0.5s;
}

.card-title {
  display: flex;
  padding: auto;
  margin-bottom: 0;
}
.card-title h5,
.card-title h6,
.card-title i,
.card-title span {
  font-weight: 900;
}
.card-title i,
.card-title span {
  margin-right: 10px;
}

.card-default {
  height: 150px;
  border: none;
}
.card-default:hover span {
  font-size: 80px;
}
.card-default:hover h5, .card-default:hover h4 {
  color: white;
  transition: 0.5s;
}
.card-default h5,
.card-default h4 {
  color: rgba(255, 255, 255, 0.575);
  text-align: right;
  transition: 0.5s;
}
.card-default h5 {
  font-weight: 700;
}
.card-default h4 {
  font-weight: 900;
  font-size: 30px;
}
.card-default span {
  font-size: 60px;
  color: rgba(255, 255, 255, 0.575);
  transition: 0.5s;
}

.card-outline {
  height: 150px;
}
.card-outline:hover span {
  font-size: 80px;
}
.card-outline h5,
.card-outline h4 {
  text-align: right;
}
.card-outline h5 {
  font-weight: 700;
}
.card-outline h4 {
  font-weight: 900;
  font-size: 30px;
}
.card-outline span {
  font-size: 60px;
  transition: 0.5s;
}

.card-small {
  height: 100px;
  border: none;
}
.card-small p {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.card-small .ti {
  font-size: 40px;
}

.bg-red {
  background-color: #f53b66;
  color: white;
}

.bg-orange {
  background-color: #ffbb00;
  color: #34495e;
}

.bg-blue {
  background-color: #3498db;
  color: white;
}

.bg-green {
  background-color: #2ecc71;
  color: white;
}

.bg-purple {
  background-color: #9b59b6;
  color: white;
}

.bg-dark {
  background-color: #34495e !important;
  color: white;
}

.bg-white {
  background-color: white;
  color: #34495e;
}

.bg-dark-blue {
  background-color: #1A3365;
  color: #ffbb00;
}

.bg-soft-green {
  background-color: #1abc9c;
  color: white;
}

.outline-orange {
  border-color: #ffbb00 !important;
  color: #ffbb00 !important;
  transition: 1s;
}
.outline-orange:hover {
  border-color: none !important;
  background-color: #ffbb00 !important;
  color: #34495e !important;
  transition: 1s;
}

.outline-purple {
  border-color: #9b59b6 !important;
  color: #9b59b6 !important;
  transition: 1s;
}
.outline-purple:hover {
  border-color: none !important;
  background-color: #9b59b6 !important;
  color: white !important;
  transition: 1s;
}

.outline-red {
  border-color: #f53b66 !important;
  color: #f53b66 !important;
  transition: 1s;
}
.outline-red:hover {
  border-color: none !important;
  background-color: #f53b66 !important;
  color: white !important;
  transition: 1s;
}

.outline-green {
  border-color: #2ecc71 !important;
  color: #2ecc71 !important;
  transition: 1s;
}
.outline-green:hover {
  border-color: none !important;
  background-color: #2ecc71 !important;
  color: white !important;
  transition: 1s;
}

.outline-blue {
  border-color: #3498db !important;
  color: #3498db !important;
  transition: 1s;
}
.outline-blue:hover {
  border-color: none !important;
  background-color: #3498db !important;
  color: white !important;
  transition: 1s;
}

.outline-dark {
  border-color: #34495e !important;
  color: #34495e !important;
  transition: 1s;
}
.outline-dark:hover {
  border-color: none !important;
  background-color: #34495e !important;
  color: white !important;
  transition: 1s;
}

.outline-dark-blue {
  border-color: #1A3365 !important;
  color: #1A3365 !important;
  transition: 1s;
}
.outline-dark-blue:hover {
  border-color: none !important;
  background-color: #1A3365 !important;
  color: #ffbb00 !important;
  transition: 1s;
}

.outline-soft-green {
  border-color: #1abc9c !important;
  color: #1abc9c !important;
  transition: 1s;
}
.outline-soft-green:hover {
  border-color: none !important;
  background-color: #1abc9c !important;
  color: white !important;
  transition: 1s;
}

.text-dark {
  color: #34495e;
}

.text-green {
  color: #2ecc71;
}

.text-red {
  color: #f53b66;
}

.text-purple {
  color: #9b59b6;
}

.text-blue {
  color: #3498db;
}

.text-orange {
  color: #ffbb00;
}

.text-dark-menu {
  color: #6f8aa1;
}

.text-soft-green {
  color: #1abc9c;
}

.text-dark-blue {
  color: #1A3365;
}

.hover-dark {
  transition: 0.5s;
}
.hover-dark:hover {
  color: #34495e !important;
  transition: 0.5s;
  background-color: transparent;
}
.hover-dark:focus {
  color: #34495e;
}

.hover-purple {
  transition: 0.5s;
}
.hover-purple:hover {
  color: #9b59b6 !important;
  transition: 0.5s;
  background-color: transparent;
}
.hover-purple:focus {
  color: #9b59b6;
}

.hover-orange {
  transition: 0.5s;
}
.hover-orange:hover {
  color: #ffbb00 !important;
  transition: 0.5s;
  background-color: transparent;
}
.hover-orange:focus {
  color: #ffbb00;
}

.hover-red {
  transition: 0.5s;
}
.hover-red:hover {
  color: #f53b66 !important;
  transition: 0.5s;
  background-color: transparent;
}
.hover-red:focus {
  color: #f53b66;
}

.hover-blue {
  transition: 0.5s;
}
.hover-blue:hover {
  color: #3498db !important;
  transition: 0.5s;
  background-color: transparent;
}
.hover-blue:focus {
  color: #3498db;
}

.hover-green {
  transition: 0.5s;
}
.hover-green:hover {
  color: #2ecc71 !important;
  transition: 0.5s;
  background-color: transparent;
}
.hover-green:focus {
  color: #2ecc71;
}

.hover-dark-blue {
  transition: 0.5s;
}
.hover-dark-blue:hover {
  color: #1A3365 !important;
  transition: 0.5s;
  background-color: transparent;
}
.hover-dark-blue:focus {
  color: #1A3365;
}

.hover-soft-green {
  transition: 0.5s;
}
.hover-soft-green:hover {
  color: #1abc9c !important;
  transition: 0.5s;
  background-color: transparent;
}
.hover-soft-green:focus {
  color: #1abc9c;
}

.border-red {
  border-color: #f53b66 !important;
  color: #f53b66 !important;
}

.border-blue {
  border-color: #3498db !important;
  color: #3498db !important;
}

.border-green {
  border-color: #2ecc71 !important;
  color: #2ecc71 !important;
}

.border-orange {
  border-color: #ffbb00 !important;
  color: #ffbb00 !important;
}

.border-purple {
  border-color: #9b59b6 !important;
  color: #9b59b6 !important;
}

.border-dark {
  border-color: #34495e !important;
  color: #34495e !important;
}

.border-white {
  border-color: white !important;
  color: #34495e !important;
}

.border-dark-blue {
  border-color: #1A3365 !important;
  color: #1A3365 !important;
}

.border-soft-green {
  border-color: #1abc9c !important;
  color: #1abc9c !important;
}

.triangle-right-white {
  width: 0;
  height: 0;
  border-top: 15px solid transparent !important;
  border-bottom: 15px solid transparent !important;
  border-left: 15px solid white !important;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.triangle-left-white {
  width: 0;
  height: 0;
  border-top: 15px solid transparent !important;
  border-bottom: 15px solid transparent !important;
  border-right: 15px solid white !important;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.triangle-bottom-white {
  width: 0;
  height: 0;
  border-left: 15px solid transparent !important;
  border-right: 15px solid transparent !important;
  border-top: 15px solid white !important;
  position: absolute;
  z-index: 99999;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.input-group-prepend > .triangle-right-red {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-left: 10px solid #f53b66 !important;
  position: absolute;
  left: 15%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 999 !important;
}

.input-group-prepend > .triangle-right-blue {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-left: 10px solid #3498db !important;
  position: absolute;
  left: 15%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 999 !important;
}

.input-group-prepend > .triangle-right-green {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-left: 10px solid #2ecc71 !important;
  position: absolute;
  left: 15%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 999 !important;
}

.input-group-prepend > .triangle-right-orange {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-left: 10px solid #ffbb00 !important;
  position: absolute;
  left: 15%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 999 !important;
}

.input-group-prepend > .triangle-right-purple {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-left: 10px solid #9b59b6 !important;
  position: absolute;
  left: 15%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 999 !important;
}

.input-group-prepend > .triangle-right-dark {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-left: 10px solid #34495e !important;
  position: absolute;
  left: 15%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 999 !important;
}

.input-group-prepend > .triangle-right-soft-green {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-left: 10px solid #1abc9c !important;
  position: absolute;
  left: 15%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 999 !important;
}

.input-group-prepend > .triangle-left-red {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: 10px solid #f53b66 !important;
  position: absolute;
  right: 15%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 999 !important;
}

.input-group-prepend > .triangle-left-blue {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: 10px solid #3498db !important;
  position: absolute;
  right: 15%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 999 !important;
}

.input-group-prepend > .triangle-left-green {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: 10px solid #2ecc71 !important;
  position: absolute;
  right: 15%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 999 !important;
}

.input-group-prepend > .triangle-left-orange {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: 10px solid #ffbb00 !important;
  position: absolute;
  right: 15%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 999 !important;
}

.input-group-prepend > .triangle-left-purple {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: 10px solid #9b59b6 !important;
  position: absolute;
  right: 15%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 999 !important;
}

.input-group-prepend > .triangle-left-dark {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: 10px solid #34495e !important;
  position: absolute;
  right: 15%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 999 !important;
}

.input-group-prepend > .triangle-left-soft-green {
  width: 0;
  height: 0;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: 10px solid #1abc9c !important;
  position: absolute;
  right: 15%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 99999 !important;
}

button {
  font-weight: 400 !important;
}

.btn {
  transition: 1s;
  align-items: stretch;
}

.btn-app {
  border-radius: 5px;
  font-size: 15px;
  height: 60px;
  margin: 0 0 10px 10px;
  min-width: 80px;
  padding: 15px 5px;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.btn-app > .ti {
  display: block;
  font-size: 20px;
  font-weight: 400 !important;
}

.btn-app > .badge {
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: -10px;
  top: -3px;
  color: #34495e !important;
}

.btn-red {
  background-color: #f53b66 !important;
  color: white !important;
}
.btn-red:hover {
  background-color: #d32d54 !important;
  color: white !important;
}

.btn-blue {
  background-color: #3498db !important;
  color: white !important;
}
.btn-blue:hover {
  background-color: #1f6eb3 !important;
  color: white !important;
}

.btn-green {
  background-color: #2ecc71 !important;
  color: white !important;
}
.btn-green:hover {
  background-color: #1f8837 !important;
  color: white !important;
}

.btn-orange {
  background-color: #ffbb00 !important;
  color: #34495e !important;
}
.btn-orange:hover {
  background-color: #dfa00e !important;
  color: #34495e !important;
}

.btn-purple {
  background-color: #9b59b6 !important;
  color: white !important;
}
.btn-purple:hover {
  background-color: #7926a3 !important;
  color: white !important;
}

.btn-dark {
  background-color: #34495e !important;
  color: white !important;
}
.btn-dark:hover {
  background-color: #232529 !important;
  color: white !important;
}

.btn-dark-blue {
  background-color: #1A3365 !important;
  color: #ffbb00 !important;
}
.btn-dark-blue:hover {
  background-color: #102142 !important;
  color: #ffbb00 !important;
}

.btn-soft-green {
  background-color: #1abc9c !important;
  color: white !important;
}
.btn-soft-green:hover {
  background-color: #137964 !important;
  color: white !important;
}

/*# sourceMappingURL=mini-admin.css.map */
