/* dark navbar */
.navbar-brand,
.navbar-brand:hover {
  color: #f8f8f8;
}

.bg-hitam,
.bg-hitam .navbar-nav a,
.bg-hitam .dropdown-menu {
  background-color: #303236 !important;
  color: #686a6e !important;
}

/* end dark navbar */
/* navbar-orange */
.navbar-orange .navbar-nav a:hover {
  color: #ffb300 !important;
  transition: 0.5s;
}
.navbar-orange .dropdown-menu a:hover {
  color: #ffb300 !important;
}

/* end navbar-orange */
/* navbar-biru */
.navbar-biru .navbar-nav a:hover {
  color: #3b9ef5 !important;
  transition: 0.5s;
}
.navbar-biru .dropdown-menu a:hover {
  color: #3b9ef5 !important;
}

/* end navbar-biru */
.navbar {
  height: 70px !important;
  transition: ease all 1s;
  -webkit-transition: ease all 1s;
  -moz-transition: ease all 1s;
  -o-transition: ease all 1s;
}

.navbar-mini {
  height: 50px !important;
  border-top: 0.1px solid #535353 !important;
}
.navbar-mini .nav-link {
  padding-left: 0px !important;
  margin-right: 20px;
}

.navbar-scroll {
  height: 0 !important;
  transition: ease all 1s;
  -webkit-transition: ease all 1s;
  -moz-transition: ease all 1s;
  -o-transition: ease all 1s;
}
.navbar-scroll .navbar-brand,
.navbar-scroll .navbar-nav {
  display: none;
}

.breadcrumb {
  background-color: transparent !important;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0 !important;
}
.breadcrumb h3 {
  color: #ffb300;
}
.breadcrumb a {
  color: #303236;
  text-decoration: none;
  transition: 0.5s;
}
.breadcrumb a:hover {
  color: #ffb300;
  transition: 0.5s;
}

section {
  margin-bottom: 70px;
}

.row {
  margin-bottom: 15px;
}

.content {
  margin-top: 150px;
}

.ti {
  font-weight: 600;
}

.bg-merah {
  background-color: #f53b66;
  color: #f8f8f8;
}

.bg-orange {
  background-color: #ffb300;
  color: #303236;
}

.bg-biru {
  background-color: #3b9ef5;
  color: #f8f8f8;
}

.bg-hijau {
  background-color: #28a745;
  color: #f8f8f8;
}

.bg-ungu {
  background-color: #b73bf5;
  color: #f8f8f8;
}

.outline-orange {
  border-color: #ffb300;
  color: #ffb300;
}
.outline-orange:hover {
  border-color: none;
  background-color: #ffb300;
  color: #303236;
}

.outline-ungu {
  border-color: #b73bf5;
  color: #b73bf5;
}
.outline-ungu:hover {
  border-color: none;
  background-color: #b73bf5;
  color: #f8f8f8;
}

section {
  margin-bottom: 70px;
}

.row {
  margin-bottom: 15px;
}

.content {
  margin-top: 150px;
}

.ti {
  font-weight: 600;
}

.bg-merah {
  background-color: #f53b66;
  color: #f8f8f8;
}

.bg-orange {
  background-color: #ffb300;
  color: #303236;
}

.bg-biru {
  background-color: #3b9ef5;
  color: #f8f8f8;
}

.bg-hijau {
  background-color: #28a745;
  color: #f8f8f8;
}

.bg-ungu {
  background-color: #b73bf5;
  color: #f8f8f8;
}

.outline-orange {
  border-color: #ffb300;
  color: #ffb300;
}
.outline-orange:hover {
  border-color: none;
  background-color: #ffb300;
  color: #303236;
}

.outline-ungu {
  border-color: #b73bf5;
  color: #b73bf5;
}
.outline-ungu:hover {
  border-color: none;
  background-color: #b73bf5;
  color: #f8f8f8;
}

.card {
  cursor: pointer;
  text-transform: none;
  vertical-align: baseline;
  white-space: normal;
  text-decoration: none solid white;
  text-align: left;
  text-indent: 0px;
  padding: 8px;
  max-height: none;
  min-height: 80px;
  max-width: none;
  min-width: 0px;
  border-radius: 5px;
  transition: 0.5s;
}
.card:hover {
  box-shadow: 0 5px 20px #818181;
  -webkit-box-shadow: 0 5px 20px #818181;
  -moz-box-shadow: 0 5px 20px #818181;
  transition: 0.5s;
}

.card-default {
  height: 150px;
  border: none;
}
.card-default:hover span {
  font-size: 80px;
}
.card-default:hover h5, .card-default:hover h4 {
  color: #f8f8f8;
}
.card-default h5,
.card-default h4 {
  color: rgba(255, 255, 255, 0.575);
  text-align: right;
}
.card-default h5 {
  font-weight: 700;
}
.card-default h4 {
  font-weight: 900;
  font-size: 30px;
}
.card-default span {
  font-size: 60px;
  color: rgba(255, 255, 255, 0.575);
  transition: 0.5s;
}

.card-outline {
  height: 150px;
}
.card-outline:hover span {
  font-size: 80px;
}
.card-outline h5,
.card-outline h4 {
  text-align: right;
}
.card-outline h5 {
  font-weight: 700;
}
.card-outline h4 {
  font-weight: 900;
  font-size: 30px;
}
.card-outline span {
  font-size: 60px;
  transition: 0.5s;
}

.card-small {
  height: 100px;
  border: none;
}
.card-small p {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.card-small .ti {
  font-size: 40px;
}

/*# sourceMappingURL=style.css.map */
