input,
textarea {
  outline: none !important;
}

.input-field {
  display: block;
  position: relative;
  height: 40px;
  margin-bottom: 50px;

  input[type="text"]:disabled+label,
  input[type="email"]:disabled+label,
  input[type="password"]:disabled+label,
  textarea:disabled+label {
    transform: translateY(-17px);
    font-size: 15px;
    color: $blue;
  }

  input[type="text"]:disabled,
  input[type="password"]:disabled,
  input[type="email"]:disabled {
    border-bottom: 2px solid $blue;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }

  textarea:disabled {
    border-bottom: 2px solid $blue;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
    padding-top: 10px !important;
    padding-bottom: 0 !important;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="file"],
  textarea {
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    height: 2.2rem;
    width: 100%;
    font-size: 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s,
      -webkit-box-shadow .3s;
    transition: border .3s,
      -webkit-box-shadow .3s;
    transition: box-shadow .3s,
      border .3s;
    transition: box-shadow .3s,
      border .3s,
      -webkit-box-shadow .3s;
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
    width: 100% !important;
    max-width: 100% !important;
    color: $dark;
    border-bottom: 2px solid $grey;
  }

  input[type="file"] {
    cursor: pointer;
    margin-top: 10px;
  }

  textarea {
    width: 100%;
    background-color: transparent;
    line-height: 20px;
    overflow-y: auto !important;
    resize: none !important;
    padding-top: 0px !important;
    padding-bottom: 5px !important;
    height: auto !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:valid {
      margin-top: 10px !important;
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    display: block;
    transition: 0.5s;
    font-size: 18px;
  }

  input[type="text"]:focus+label,
  input[type="email"]:focus+label,
  input[type="password"]:focus+label,
  input[type="file"]:focus+label,
  textarea:focus+label,
  input[type="text"]:valid+label,
  input[type="email"]:valid+label,
  input[type="password"]:valid+label,
  input[type="file"]:valid+label,
  textarea:valid+label {
    transform: translateY(-17px);
    font-size: 15px;
    color: $blue;
  }

  input[type="text"]:focus,
  input[type="text"]:valid,
  input[type="password"]:focus,
  input[type="password"]:valid,
  input[type="email"]:focus,
  input[type="email"]:valid,
  input[type="file"]:focus,
  input[type="file"]:valid,
  textarea:focus,
  textarea:valid {
    border-bottom: 2px solid $blue;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }

  input[type="file"]::-webkit-file-upload-button {
    display: none;
  }

}