// left
.triangle-left-dark {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $dark;
    position: relative;
    z-index: 99999;
}

.triangle-left-orange {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $orange;
    position: relative;
    z-index: 99999;
}

.triangle-left-blue {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $blue;
    position: relative;
    z-index: 99999;
}

.triangle-left-red {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $red;
    position: relative;
    z-index: 99999;
}

.triangle-left-green {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $green;
    position: relative;
    z-index: 99999;
}

.triangle-left-purple {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $purple;
    position: relative;
    z-index: 99999;
}

.triangle-left-white {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $white;
    position: relative;
    z-index: 99999;
}

// end left


// right
.triangle-right-dark {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $dark;
    position: relative;
    z-index: 99999;
}

.triangle-right-blue {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $blue;
    position: relative;
    z-index: 99999;
}

.triangle-right-green {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $green;
    position: relative;
    z-index: 99999;
}

.triangle-right-purple {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $purple;
    position: relative;
    z-index: 99999;
}

.triangle-right-red {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $red;
    position: relative;
    z-index: 99999;
}

.triangle-right-orange {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $orange;
    position: relative;
    z-index: 99999;
}

.triangle-right-white {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $white;
    position: relative;
    z-index: 99999;
}

// end right

// bottom
.triangle-bottom-dark {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $dark;
    position: relative;
    z-index: 99999;
}

.triangle-bottom-white {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $white;
    position: relative;
    z-index: 99999;
}

.triangle-bottom-blue {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $blue;
    position: relative;
    z-index: 99999;
}

.triangle-bottom-green {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $green;
    position: relative;
    z-index: 99999;
}

.triangle-bottom-red {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $red;
    position: relative;
    z-index: 99999;
}

.triangle-bottom-purple {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $purple;
    position: relative;
    z-index: 99999;
}

.triangle-bottom-orange {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $orange;
    position: relative;
    z-index: 99999;
}

// end bottom

// top
.triangle-top-dark {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $dark;
    position: relative;
    z-index: 99999;
}

.triangle-top-orange {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $orange;
    position: relative;
    z-index: 99999;
}

.triangle-top-white {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $white;
    position: relative;
    z-index: 99999;
}

.triangle-top-red {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $red;
    position: relative;
    z-index: 99999;
}

.triangle-top-blue {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $blue;
    position: relative;
    z-index: 99999;
}

.triangle-top-green {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $green;
    position: relative;
    z-index: 99999;
}

.triangle-top-purple {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $purple;
    position: relative;
    z-index: 99999;
}

.triangle-top-orange {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $orange;
    position: relative;
    z-index: 99999;
}

// end top