// warna
$blue : #3498db;
$blue-hover : #2d84d1;

$dark-blue : #1A3365;
$dark-blue-hover : rgb(16, 33, 66);

$orange : #ffbb00;
$orange-hover : rgb(223, 160, 14);

$dark : #34495e;
$dark-hover : #232529;

$dark-menu : #6f8aa1;

$white : rgb(255, 255, 255);

$navbar-border-color : #4a6075;

$red : #f53b66;
$red-hover : #d32d54;

$purple : #9b59b6;
$purple-hover : #7926a3;

$shadow : #818181;

$green : #2ecc71;
$green-hover : #1f8837;

$soft-green : #1abc9c;
$soft-green-hover : #137964;
// akhir warna