// warna
$blue : #3b9ef5;

$orange : rgb(255, 179, 0);

$dark : #303236;

$dark-menu : #686a6e;

$white : rgb(255, 255, 255);

$navbar-border-color : rgb(83, 83, 83);

$red : #f53b66;

$purple : #b73bf5;

$shadow : #818181;

$green : #28a745;
// akhir warna