// warna
$blue : #3b9ef5;
$blue-hover : #2d84d1;

$orange : rgb(255, 179, 0);
$orange-hover : rgb(223, 160, 14);

$dark : #303236;
$dark-hover : #232529;

$dark-menu : #686a6e;

$white : rgb(255, 255, 255);

$navbar-border-color : rgb(83, 83, 83);

$red : #f53b66;
$red-hover : #d32d54;

$purple : #b73bf5;
$purple-hover : #912fc2;

$shadow : #818181;

$green : #28a745;
$green-hover : #1f8837;
// akhir warna