/* dark navbar */
.navbar-brand,
.navbar-brand:hover {
    color: $putih;
}

.bg-dark,
.bg-dark .navbar-nav a,
.bg-dark .dropdown-menu {
    background-color: $dark !important;
    color: $dark-menu !important;
}

/* end dark navbar */