/* navbar-biru */
.navbar-biru {

    .navbar-nav a:hover {
        color: $biru !important;
        transition: 0.5s;
    }

    .dropdown-menu a:hover {
        color: $biru !important;
    }
}

/* end navbar-biru */