@import 'dark-navbar';
@import 'navbar-color-orange';
@import 'navbar-color-blue';

.navbar {
    height: 50px !important;
    transition: ease all 1s;
    -webkit-transition: ease all 1s;
    -moz-transition: ease all 1s;
    -o-transition: ease all 1s;
}

.navbar-mini {
    height: 45px !important;
    border-top: 0.1px solid $navbar-border-color !important;

    .nav-link {
        padding-left: 0px !important;
        margin-right: 20px;
    }

    .nav-link:active {
        color: $orange;
    }
}

.navbar-scroll {
    height: 0 !important;
    transition: ease all 1s;
    -webkit-transition: ease all 1s;
    -moz-transition: ease all 1s;
    -o-transition: ease all 1s;

    .navbar-brand,
    .navbar-nav {
        display: none;
    }
}