/* navbar-orange */
.navbar-orange {

    .navbar-nav a:hover {
        color: $orange !important;
        transition: 0.5s;
    }

    .dropdown-menu a:hover {
        color: $orange !important;
    }

}

/* end navbar-orange */