.bg-red {
    background-color: $red;
    color: $white;
}

.bg-orange {
    background-color: $orange;
    color: $dark;
}

.bg-blue {
    background-color: $blue;
    color: $white;
}

.bg-green {
    background-color: $green;
    color: $white;
}

.bg-purple {
    background-color: $purple;
    color: $white;
}

.bg-dark {
    background-color: $dark !important;
    color: $white;
}

.bg-white {
    background-color: $white;
    color: $dark;
}

.bg-dark-blue {
    background-color: $dark-blue;
    color: $orange;
}

.bg-soft-green {
    background-color: $soft-green;
    color: $white;
}