.bg-red {
    background-color: $red;
    color: $white;
}

.bg-orange {
    background-color: $orange;
    color: $dark;
}

.bg-blue {
    background-color: $blue;
    color: $white;
}

.bg-green {
    background-color: $green;
    color: $white;
}

.bg-purple {
    background-color: $purple;
    color: $white;
}

.bg-dark {
    background-color: $dark !important;
    color: $white;
}

.bg-white {
    background-color: $white;
    color: $dark;
}

.bg-dark-blue {
    background-color: $dark-blue;
    color: $orange;
}

.bg-soft-green {
    background-color: $soft-green;
    color: $white;
}

.bg-red-opacity {
    background-color: $red-opacity;
    color: $white;
}

.bg-orange-opacity {
    background-color: $orange-opacity;
    color: $white;
}

.bg-blue-opacity {
    background-color: $blue-opacity;
    color: $white;
}

.bg-green-opacity {
    background-color: $green-opacity;
    color: $white;
}

.bg-purple-opacity {
    background-color: $purple-opacity;
    color: $white;
}

.bg-dark-opacity {
    background-color: $dark-opacity !important;
    color: $white;
}

.bg-dark-blue-opacity {
    background-color: $dark-blue-opacity;
    color: $orange;
}

.bg-soft-green-opacity {
    background-color: $soft-green-opacity;
    color: $white;
}