.border-red {
    border-color: $red !important;
    color: $red !important;
}

.border-blue {
    border-color: $blue !important;
    color: $blue !important;
}

.border-green {
    border-color: $green !important;
    color: $green !important;
}

.border-orange {
    border-color: $orange !important;
    color: $orange !important;
}

.border-purple {
    border-color: $purple !important;
    color: $purple !important;
}

.border-dark {
    border-color: $dark !important;
    color: $dark !important;
}

.border-white {
    border-color: $white !important;
    color: $dark !important;
}

.border-dark-blue {
    border-color: $dark-blue !important;
    color: $dark-blue !important;
}

.border-soft-green {
    border-color: $soft-green !important;
    color: $soft-green !important;
}