.hover-dark {
    transition: 0.5s;

    &:hover {
        color: $dark !important;
        transition: 0.5s;
        background-color: transparent;
    }

    &:focus {
        color: $dark;
    }
}

.hover-purple {
    transition: 0.5s;

    &:hover {
        color: $purple !important;
        transition: 0.5s;
        background-color: transparent;
    }

    &:focus {
        color: $purple;
    }
}

.hover-orange {
    transition: 0.5s;

    &:hover {
        color: $orange !important;
        transition: 0.5s;
        background-color: transparent;
    }

    &:focus {
        color: $orange;
    }
}

.hover-red {
    transition: 0.5s;

    &:hover {
        color: $red !important;
        transition: 0.5s;
        background-color: transparent;
    }

    &:focus {
        color: $red;
    }
}

.hover-blue {
    transition: 0.5s;

    &:hover {
        color: $blue !important;
        transition: 0.5s;
        background-color: transparent;
    }

    &:focus {
        color: $blue;
    }
}

.hover-green {
    transition: 0.5s;

    &:hover {
        color: $green !important;
        transition: 0.5s;
        background-color: transparent;
    }

    &:focus {
        color: $green;
    }
}

.hover-dark-blue {
    transition: 0.5s;

    &:hover {
        color: $dark-blue !important;
        transition: 0.5s;
        background-color: transparent;
    }

    &:focus {
        color: $dark-blue;
    }
}

.hover-soft-green {
    transition: 0.5s;

    &:hover {
        color: $soft-green !important;
        transition: 0.5s;
        background-color: transparent;
    }

    &:focus {
        color: $soft-green;
    }
}