.text-dark {
    color: $dark;
}

.text-green {
    color: $green;
}

.text-red {
    color: $red;
}

.text-purple {
    color: $purple;
}

.text-blue {
    color: $blue;
}

.text-orange {
    color: $orange;
}

.text-dark-menu {
    color: $dark-menu;
}

.text-soft-green {
    color: $soft-green;
}

.text-dark-blue {
    color: $dark-blue;
}

.text-grey {
    color: $grey;
}