.outline-orange {
    border-color: $orange;
    color: $orange;

    &:hover {
        border-color: none;
        background-color: $orange;
        color: $dark;
    }

    &:hover h5,
    &:hover h4,
    &:hover span {
        color: $dark;
        transition: 1s;
    }

    span {
        color: $orange;
    }
}

.outline-ungu {
    border-color: $ungu;
    color: $ungu;

    &:hover {
        border-color: none;
        background-color: $ungu;
        color: $putih;
    }

    &:hover h5,
    &:hover h4,
    &:hover span {
        color: $putih;
        transition: 1s;
    }

    span {
        color: $ungu;
    }
}