.card-merah {
    background-color: $merah;
    border: none;
    color: $putih;
}

.card-ungu {
    background-color: $ungu;
    border: none;
    color: $putih;
}

.card-biru {
    background-color: $biru;
    border: none;
    color: $putih;
}

.card-orange {
    background-color: $orange;
    border: none;
    color: $putih;
}