@import '../layout';

.card {
    cursor: pointer;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: left;
    text-indent: 0px;
    padding: 8px;
    max-height: none;
    min-height: 80px;
    max-width: none;
    min-width: 0px;
    border-radius: 5px;
    transition: 0.5s;

    &:hover {
        box-shadow: 0 5px 20px $shadow;
        -webkit-box-shadow: 0 5px 20px $shadow;
        -moz-box-shadow: 0 5px 20px $shadow;
        transition: 0.5s;
    }
}

.card-default {
    height: 150px;
    border: none;

    &:hover span {
        font-size: 80px;
    }

    &:hover h5,
    &:hover h4 {
        color: $putih;
    }

    h5,
    h4 {
        color: rgba(255, 255, 255, 0.575);
        text-align: right;
    }

    h5 {
        font-weight: 700;
    }

    h4 {
        font-weight: 900;
        font-size: 30px;
    }

    span {
        font-size: 60px;
        color: rgba(255, 255, 255, 0.575);
        transition: 0.5s;
    }
}

.card-outline {
    height: 150px;

    &:hover span {
        font-size: 80px;
    }

    h5,
    h4 {
        text-align: right;
    }

    h5 {
        font-weight: 700;
    }

    h4 {
        font-weight: 900;
        font-size: 30px;
    }

    span {
        font-size: 60px;
        transition: 0.5s;
    }
}

.card-small {
    height: 100px;
    border: none;

    p {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
    }

    .ti {
        font-size: 40px;
    }
}