@import './img-hover';

.img-thumbnail-red {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid $red;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.img-thumbnail-blue {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid $blue;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.img-thumbnail-green {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid $green;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.img-thumbnail-purple {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid $purple;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.img-thumbnail-dark {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid $dark;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.img-thumbnail-orange {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid $orange;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.img-thumbnail-soft-green {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid $soft-green;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.img-thumbnail-dark-blue {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid $dark-blue;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}