@import './with-icon';

button {
    font-weight: 400 !important;
}

.btn {
    transition: 1s;
    align-items: stretch;
}

.btn-app {
    border-radius: 5px;
    font-size: 15px;
    height: 60px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    padding: 15px 5px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.btn-app>.ti {
    display: block;
    font-size: 20px;
    font-weight: 400 !important;
}

.btn-app>.badge {
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    right: -10px;
    top: -3px;
    color: $dark !important;
}

.btn-red {
    background-color: $red !important;
    color: $white !important;

    &:hover {
        background-color: $red-hover !important;
        color: $white !important;
    }
}

.btn-blue {
    background-color: $blue !important;
    color: $white !important;

    &:hover {
        background-color: $blue-hover !important;
        color: $white !important;
    }
}

.btn-green {
    background-color: $green !important;
    color: $white !important;

    &:hover {
        background-color: $green-hover !important;
        color: $white !important;
    }
}

.btn-orange {
    background-color: $orange !important;
    color: $dark !important;

    &:hover {
        background-color: $orange-hover !important;
        color: $dark !important;
    }
}

.btn-purple {
    background-color: $purple !important;
    color: $white !important;

    &:hover {
        background-color: $purple-hover !important;
        color: $white !important;
    }
}

.btn-dark {
    background-color: $dark !important;
    color: $white !important;

    &:hover {
        background-color: $dark-hover !important;
        color: $white !important;
    }
}

.btn-dark-blue {
    background-color: $dark-blue !important;
    color: $orange !important;

    &:hover {
        background-color: $dark-blue-hover !important;
        color: $orange !important;
    }
}

.btn-soft-green {
    background-color: $soft-green !important;
    color: $white !important;

    &:hover {
        background-color: $soft-green-hover !important;
        color: $white !important;
    }
}