@import './with-icon';

button {
    font-weight: 400 !important;
}

.btn {
    transition: 1s;
    align-items: stretch;
}

.btn-app {
    border-radius: 3px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    color: #6c757d;
    font-size: 12px;
    height: 60px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    padding: 15px 5px;
    position: relative;
    text-align: center;
}

.btn-app>.ti {
    display: block;
    font-size: 20px;
}

.btn-app:hover {
    background: #f8f9fa;
    border-color: #aaaaaa;
    color: #444;
}

.btn-app:active,
.btn-app:focus {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-app>.badge {
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    right: -10px;
    top: -3px;
}

.btn-red {
    background-color: $red;
    color: $white;

    &:hover {
        background-color: $red-hover;
        color: $white;
    }
}

.btn-blue {
    background-color: $blue;
    color: $white;

    &:hover {
        background-color: $blue-hover;
        color: $white;
    }
}

.btn-green {
    background-color: $green;
    color: $white;

    &:hover {
        background-color: $green-hover;
        color: $white;
    }
}

.btn-orange {
    background-color: $orange;
    color: $dark;

    &:hover {
        background-color: $orange-hover;
        color: $dark;
    }
}

.btn-purple {
    background-color: $purple;
    color: $white;

    &:hover {
        background-color: $purple-hover;
        color: $white;
    }
}

.btn-dark {
    background-color: $dark;
    color: $white;

    &:hover {
        background-color: $dark-hover;
        color: $white;
    }
}

.btn-dark-blue {
    background-color: $dark-blue;
    color: $orange;

    &:hover {
        background-color: $dark-blue-hover;
        color: $orange;
    }
}

.btn-soft-green {
    background-color: $soft-green;
    color: $white;

    &:hover {
        background-color: $soft-green-hover;
        color: $white;
    }
}