.triangle-right-white {
    width: 0;
    height: 0;
    border-top: 15px solid transparent !important;
    border-bottom: 15px solid transparent !important;
    border-left: 15px solid $white !important;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.triangle-left-white {
    width: 0;
    height: 0;
    border-top: 15px solid transparent !important;
    border-bottom: 15px solid transparent !important;
    border-right: 15px solid $white !important;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.triangle-bottom-white {
    width: 0;
    height: 0;
    border-left: 15px solid transparent !important;
    border-right: 15px solid transparent !important;
    border-top: 15px solid $white !important;
    position: absolute;
    z-index: 99999;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.input-group-prepend>.triangle-right-red {
    width: 0;
    height: 0;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-left: 10px solid $red !important;
    position: absolute;
    left: 15%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 999 !important;
}

.input-group-prepend>.triangle-right-blue {
    width: 0;
    height: 0;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-left: 10px solid $blue !important;
    position: absolute;
    left: 15%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 999 !important;
}

.input-group-prepend>.triangle-right-green {
    width: 0;
    height: 0;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-left: 10px solid $green !important;
    position: absolute;
    left: 15%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 999 !important;
}

.input-group-prepend>.triangle-right-orange {
    width: 0;
    height: 0;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-left: 10px solid $orange !important;
    position: absolute;
    left: 15%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 999 !important;
}

.input-group-prepend>.triangle-right-purple {
    width: 0;
    height: 0;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-left: 10px solid $purple !important;
    position: absolute;
    left: 15%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 999 !important;
}

.input-group-prepend>.triangle-right-dark {
    width: 0;
    height: 0;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-left: 10px solid $dark !important;
    position: absolute;
    left: 15%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 999 !important;
}

.input-group-prepend>.triangle-right-soft-green {
    width: 0;
    height: 0;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-left: 10px solid $soft-green !important;
    position: absolute;
    left: 15%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 999 !important;
}

.input-group-prepend>.triangle-left-red {
    width: 0;
    height: 0;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-right: 10px solid $red !important;
    position: absolute;
    right: 15%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 999 !important;
}

.input-group-prepend>.triangle-left-blue {
    width: 0;
    height: 0;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-right: 10px solid $blue !important;
    position: absolute;
    right: 15%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 999 !important;
}

.input-group-prepend>.triangle-left-green {
    width: 0;
    height: 0;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-right: 10px solid $green !important;
    position: absolute;
    right: 15%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 999 !important;
}

.input-group-prepend>.triangle-left-orange {
    width: 0;
    height: 0;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-right: 10px solid $orange !important;
    position: absolute;
    right: 15%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 999 !important;
}

.input-group-prepend>.triangle-left-purple {
    width: 0;
    height: 0;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-right: 10px solid $purple !important;
    position: absolute;
    right: 15%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 999 !important;
}

.input-group-prepend>.triangle-left-dark {
    width: 0;
    height: 0;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-right: 10px solid $dark !important;
    position: absolute;
    right: 15%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 999 !important;
}

.input-group-prepend>.triangle-left-soft-green {
    width: 0;
    height: 0;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    border-right: 10px solid $soft-green !important;
    position: absolute;
    right: 15%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 99999 !important;
}